In [1]:
import pandas as pd

# Open trade events into a dataframe
df = pd.read_csv('../data/1446_BTRX_BTCUSDT_20161231_20180102', sep='\t',
                 index_col='timestamp', parse_dates=True, squeeze=True,
                 names=[
                     'exchange',
                     'pair',
                     'price',
                     'quantity',
                     'timestamp'
                 ],
                 usecols=[1,2,4,5,7])
df.head()

                    exchange      pair           price  quantity
timestamp
2016-12-31 05:02:16     BTRX  BTC/USDT  942.8990000000  0.053725
2016-12-31 05:02:15     BTRX  BTC/USDT  948.0000000000  0.029678
2016-12-31 07:36:55     BTRX  BTC/USDT  964.0000000000  0.004275
2016-12-31 08:03:46     BTRX  BTC/USDT  965.3400000000  0.071052
2016-12-31 08:03:44     BTRX  BTC/USDT  964.0000000000  0.034347

In [2]:
# Coerse price into a numeric field
df['price'] = pd.to_numeric(df['price'], errors='coerse')
df.dtypes

exchange     object
pair         object
price       float64
quantity    float64
dtype: object

In [3]:
df.tail(430).head(123)

                    exchange      pair         price  quantity
timestamp
2018-01-04 23:55:00     BTRX  BTC/USDT  15199.000000  0.007146
2018-01-04 23:55:01     BTRX  BTC/USDT  15200.000000  0.235506
2018-01-04 23:55:01     BTRX  BTC/USDT  15200.000000  0.020000
2018-01-04 23:55:01     BTRX  BTC/USDT  15200.000000  0.238306
2018-01-04 23:55:01     BTRX  BTC/USDT  15199.777778  0.412602
2018-01-04 23:55:02     BTRX  BTC/USDT  15200.000000  0.342272
2018-01-04 23:55:02     BTRX  BTC/USDT  15200.000000  0.002650
2018-01-04 23:55:02     BTRX  BTC/USDT  15200.000000  0.164494
2018-01-04 23:55:02     BTRX  BTC/USDT  15199.777778  0.018974
2018-01-04 23:55:03     BTRX  BTC/USDT  15200.000000  0.011211
2018-01-04 23:55:05     BTRX  BTC/USDT  15199.000000  0.010000
2018-01-04 23:55:06     BTRX  BTC/USDT  15199.777778  0.041427
2018-01-04 23:55:07     BTRX  BTC/USDT  15200.000000  0.025164
2018-01-04 23:55:07     BTRX  BTC/USDT  15200.000000  0.012931
2018-01-04 23:55:07     BTRX  BTC/USDT  15199.777778  0.000006
2018-01-04 23:55:08     BTRX  BTC/USDT  15200.000000  0.018044
2018-01-04 23:55:08     BTRX  BTC/USDT  15200.000000  0.050000
2018-01-04 23:55:08     BTRX  BTC/USDT  15200.000000  0.008054
2018-01-04 23:55:08     BTRX  BTC/USDT  15200.000000  0.006745
2018-01-04 23:55:08     BTRX  BTC/USDT  15200.000000  0.007392
2018-01-04 23:55:08     BTRX  BTC/USDT  15200.000000  0.035684
2018-01-04 23:55:08     BTRX  BTC/USDT  15200.000000  0.003730
2018-01-04 23:55:08     BTRX  BTC/USDT  15200.000000  0.044536
2018-01-04 23:55:08     BTRX  BTC/USDT  15199.000000  0.005000
2018-01-04 23:55:12     BTRX  BTC/USDT  15199.999999  1.000000
2018-01-04 23:55:12     BTRX  BTC/USDT  15199.000000  0.006710
2018-01-04 23:55:13     BTRX  BTC/USDT  15199.000000  0.001008
2018-01-04 23:55:14     BTRX  BTC/USDT  15200.000000  0.013462
2018-01-04 23:55:14     BTRX  BTC/USDT  15200.000000  0.007909
2018-01-04 23:55:14     BTRX  BTC/USDT  15200.000000  0.012000
...                      ...       ...           ...       ...
2018-01-04 23:55:43     BTRX  BTC/USDT  15200.000000  0.010000
2018-01-04 23:55:43     BTRX  BTC/USDT  15200.000000  0.001200
2018-01-04 23:55:43     BTRX  BTC/USDT  15200.000000  0.029713
2018-01-04 23:55:43     BTRX  BTC/USDT  15200.000000  0.043403
2018-01-04 23:55:44     BTRX  BTC/USDT  15199.999999  0.010645
2018-01-04 23:55:45     BTRX  BTC/USDT  15200.000000  0.020791
2018-01-04 23:55:45     BTRX  BTC/USDT  15199.999999  0.002785
2018-01-04 23:55:46     BTRX  BTC/USDT  15200.000000  0.130136
2018-01-04 23:55:47     BTRX  BTC/USDT  15199.999999  0.003361
2018-01-04 23:55:51     BTRX  BTC/USDT  15200.000000  0.116585
2018-01-04 23:55:51     BTRX  BTC/USDT  15200.000000  0.025000
2018-01-04 23:55:51     BTRX  BTC/USDT  15200.000000  0.025653
2018-01-04 23:55:51     BTRX  BTC/USDT  15200.000000  0.002300
2018-01-04 23:55:51     BTRX  BTC/USDT  15200.000000  0.084000
2018-01-04 23:55:51     BTRX  BTC/USDT  15200.000000  0.114690
2018-01-04 23:55:51     BTRX  BTC/USDT  15200.000000  0.006234
2018-01-04 23:55:51     BTRX  BTC/USDT  15200.000000  0.005861
2018-01-04 23:55:51     BTRX  BTC/USDT  15199.999999  0.010696
2018-01-04 23:55:51     BTRX  BTC/USDT  15199.999999  0.039493
2018-01-04 23:55:51     BTRX  BTC/USDT  15199.000000  0.101988
2018-01-04 23:55:51     BTRX  BTC/USDT  15199.000000  0.394669
2018-01-04 23:55:51     BTRX  BTC/USDT  15200.000000  0.063148
2018-01-04 23:55:51     BTRX  BTC/USDT  15200.000000  0.065946
2018-01-04 23:55:52     BTRX  BTC/USDT  15200.000000  0.212917
2018-01-04 23:55:53     BTRX  BTC/USDT  15200.000000  0.041114
2018-01-04 23:55:56     BTRX  BTC/USDT  15200.000000  0.014937
2018-01-04 23:55:57     BTRX  BTC/USDT  15200.000000  0.001448
2018-01-04 23:55:57     BTRX  BTC/USDT  15199.000000  0.019537
2018-01-04 23:55:59     BTRX  BTC/USDT  15199.000000  0.089128
2018-01-04 23:55:59     BTRX  BTC/USDT  15199.000000  0.037732

[123 rows x 4 columns]

In [4]:
# Grab a single minute's range and compile a sum over the quantity (for validation later)
#  This is for the entire minute of `2018-01-04 23:55`:
df.tail(430).head(123)['quantity'].sum()

10.44650583

In [5]:
ohlc = df['price'].resample('1Min').ohlc()
ohlc.tail(100)

                             open          high           low         close
timestamp
2018-01-04 22:20:00  14857.506000  14897.000000  14829.000000  14829.000000
2018-01-04 22:21:00  14847.575000  14847.575000  14829.000000  14847.575000
2018-01-04 22:22:00  14835.210840  14847.575000  14820.000000  14820.000000
2018-01-04 22:23:00  14820.000000  14847.575000  14815.100000  14847.575000
2018-01-04 22:24:00  14847.575000  14857.506000  14820.000000  14857.506000
2018-01-04 22:25:00  14857.506000  14900.125120  14857.506000  14895.000000
2018-01-04 22:26:00  14857.506000  14935.000000  14857.506000  14900.000000
2018-01-04 22:27:00  14935.000000  14935.000000  14815.100000  14899.000000
2018-01-04 22:28:00  14899.000000  14935.000000  14815.100000  14899.000000
2018-01-04 22:29:00  14899.000000  14935.000000  14815.100000  14898.000000
2018-01-04 22:30:00  14899.000000  14944.960000  14898.000000  14934.000000
2018-01-04 22:31:00  14934.000000  14934.000000  14899.000000  14920.000000
2018-01-04 22:32:00  14934.000000  14935.000000  14898.000000  14898.000000
2018-01-04 22:33:00  14898.000000  14935.000000  14898.000000  14898.000000
2018-01-04 22:34:00  14899.500193  14920.000000  14898.000000  14920.000000
2018-01-04 22:35:00  14920.000000  14920.000000  14899.500193  14899.500193
2018-01-04 22:36:00  14920.000000  14920.000000  14899.500193  14899.500193
2018-01-04 22:37:00  14880.000000  14920.000000  14880.000000  14880.000000
2018-01-04 22:38:00  14899.500193  14899.500193  14865.100500  14865.100500
2018-01-04 22:39:00  14880.000000  14880.000000  14822.000000  14865.100500
2018-01-04 22:40:00  14865.100500  14940.000000  14865.100500  14940.000000
2018-01-04 22:41:00  14944.960000  14949.000000  14823.000000  14945.000000
2018-01-04 22:42:00  14900.000000  14990.000000  14825.000000  14940.000000
2018-01-04 22:43:00  14850.000000  14940.000000  14850.000000  14940.000000
2018-01-04 22:44:00  14899.500193  14990.000000  14899.500193  14940.000000
2018-01-04 22:45:00  14940.000000  14990.000000  14940.000000  14990.000000
2018-01-04 22:46:00  14990.000000  14990.000000  14950.000000  14985.000000
2018-01-04 22:47:00  14985.000000  15000.000000  14945.000000  14945.000000
2018-01-04 22:48:00  14945.000000  15000.000000  14945.000000  15000.000000
2018-01-04 22:49:00  15000.000000  15020.000000  14985.000000  15018.000000
...                           ...           ...           ...           ...
2018-01-04 23:30:00  14999.000000  14999.999000  14995.000000  14995.000000
2018-01-04 23:31:00  14999.678912  14999.678912  14949.466506  14999.678912
2018-01-04 23:32:00  14949.466506  14999.678912  14949.466506  14999.000000
2018-01-04 23:33:00  14955.020000  14999.899900  14955.020000  14999.678912
2018-01-04 23:34:00  14999.899900  14999.999000  14999.678912  14999.999000
2018-01-04 23:35:00  14999.999000  14999.999000  14999.000000  14999.000000
2018-01-04 23:36:00  14999.999000  14999.999000  14990.000000  14999.999000
2018-01-04 23:37:00  14999.999000  15050.000000  14978.000000  15050.000000
2018-01-04 23:38:00  15000.000000  15050.000000  14978.000000  15050.000000
2018-01-04 23:39:00  15000.000000  15069.990000  15000.000000  15069.990000
2018-01-04 23:40:00  15000.000000  15075.000000  15000.000000  15075.000000
2018-01-04 23:41:00  15070.000000  15088.220320  15070.000000  15070.000000
2018-01-04 23:42:00  15075.000000  15075.000000  15070.000000  15070.000000
2018-01-04 23:43:00  15070.000000  15075.000000  15070.000000  15070.000000
2018-01-04 23:44:00  15074.000000  15074.000000  15070.000000  15074.000000
2018-01-04 23:45:00  15070.000000  15074.000000  15070.000000  15074.000000
2018-01-04 23:46:00  15074.000000  15074.000000  15070.000000  15073.000000
2018-01-04 23:47:00  15073.000000  15074.000000  15070.000000  15070.000000
2018-01-04 23:48:00  15070.000000  15120.500193  15070.000000  15116.000000
2018-01-04 23:49:00  15120.000000  15145.000000  15070.000000  15134.831825
2018-01-04 23:50:00  15129.800000  15145.000000  15125.000000  15145.000000
2018-01-04 23:51:00  15140.819980  15145.000000  15075.000000  15118.048020
2018-01-04 23:52:00  15118.049000  15145.000000  15083.762444  15140.000000
2018-01-04 23:53:00  15140.000000  15199.000000  15118.333145  15118.333145
2018-01-04 23:54:00  15199.000000  15200.000000  15118.333000  15199.777778
2018-01-04 23:55:00  15199.000000  15200.000000  15199.000000  15199.000000
2018-01-04 23:56:00  15199.000000  15220.000000  15195.582639  15220.000000
2018-01-04 23:57:00  15220.000000  15238.000000  15200.000000  15201.000000
2018-01-04 23:58:00  15200.000000  15202.215290  15085.001000  15101.591266
2018-01-04 23:59:00  15101.591266  15199.000000  15085.001000  15199.000000

[100 rows x 4 columns]

In [6]:
volume = df['quantity'].resample('1Min').sum().fillna(0)
#volume.head()
volume.tail()

timestamp
2018-01-04 23:55:00    10.446506
2018-01-04 23:56:00     5.457758
2018-01-04 23:57:00     7.473745
2018-01-04 23:58:00     7.258691
2018-01-04 23:59:00     1.777752
Freq: T, Name: quantity, dtype: float64

In [7]:
# Add volume to ohlc (making ohlcv)
ohlcv = pd.concat([ohlc, volume], axis=1)
ohlcv.columns.values[-1] = 'volume'
ohlcv.tail()

,open,high,low,close,volume
timestamp,,,,,
2018-01-04 23:55:00,15199.000000,15200.00000,15199.000000,15199.000000,10.446506
2018-01-04 23:56:00,15199.000000,15220.00000,15195.582639,15220.000000,5.457758
2018-01-04 23:57:00,15220.000000,15238.00000,15200.000000,15201.000000,7.473745
2018-01-04 23:58:00,15200.000000,15202.21529,15085.001000,15101.591266,7.258691
2018-01-04 23:59:00,15101.591266,15199.00000,15085.001000,15199.000000,1.777752

In [8]:
# Fill OHLC values with previous day's close if NaN
lastrow = ohlcv.iloc[0].copy()

def update_nan(row):
    global lastrow
    if row.volume == 0:
        close = lastrow.close
        
        row.open = close
        row.high = close
        row.low = close
        row.close = close
        
    lastrow = row.copy()
    return row
    
ohlcv = ohlcv.apply(update_nan, axis=1)
ohlcv.head()

                        open     high      low    close    volume
timestamp
2016-12-31 05:02:00  948.000  948.000  942.899  942.899  0.083403
2016-12-31 05:03:00  942.899  942.899  942.899  942.899  0.000000
2016-12-31 05:04:00  942.899  942.899  942.899  942.899  0.000000
2016-12-31 05:05:00  942.899  942.899  942.899  942.899  0.000000
2016-12-31 05:06:00  942.899  942.899  942.899  942.899  0.000000

In [9]:
# Gather some info from the data file
exch = df['exchange'].unique()[0]
pair = df['pair'].unique()[0]
(exch,pair)

('BTRX', 'BTC/USDT')

In [10]:
# Write out the CSV
ohlcv.to_csv(f"{exch}_{pair.replace('/', '-')}_ohlcv.csv")